html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #d6d6d6, #b4b4b4);
    font-family: roboto;
}

.site-header{
    display: flex;
    padding: 0 2.5rem;
    box-shadow: 0 0  0.5rem rgb(97, 97, 97);
    text-align: center;
    justify-content: space-between;
    background-color: #fff5ee;
    top: 0;
    z-index: 1;
    position: sticky;
}

.site-header .title{
    padding: 0.5rem;
}

.first-word{
    color: #ed6868;
    font-size: 30px;
    font-family: poppins;
    font-weight: bold;
}

.second-word{
    color: #000000;
    font-size: 30px;
    font-family: poppins;
    font-weight: bold;
}


.search-section{
    display: flex;
    margin: 2rem 0;
    text-align: center;
    justify-content: center;
    width: 50%;
    gap: 0;
    border-radius: 0.4rem;
    box-shadow: 0 10px 1rem rgb(201, 201, 201);
    height: 35px;
}

.search-section .search-input{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 0.5rem 0 0 0.5rem;
    outline: none;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
}

.search-section .search-icon{
    background-color: #ed6868;
    box-sizing: border-box;
    border: none;
    height: 35px;
    border-radius: 0.4rem;
    cursor: pointer;
}

.search-section .search-icon img{
    padding-top: 0.2rem;
}

.notification-section{
    display: flex;
    margin: 2rem 0;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;
    height: 35px;
}

.notification-section .notification-icon{
    background-color: #ed6868;
    box-sizing: border-box;
    border: none;
    box-sizing: border-box;
    border-radius: 0.5rem;
    height: 35px;
    cursor: pointer;
}

.notification-icon img{
    padding-top: 0.2rem;
}

.notification-section .calendar-icon{
    background-color: #ed6868;
    box-sizing: border-box;
    border: none;
    box-sizing: border-box;
    border-radius: 0.5rem;
    height: 35px;
    cursor: pointer;
}

.calendar-icon img{
    padding-top: 0.2rem;
}